:root {
  --start-instructions-buttons: #146eb4;
  --feed-play-sleep-buttons: #ff9900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

body {
  background-color: steelblue;
  text-align: center;
}

#home-logo {
  margin-top: 250px;
  width: 250px;
}

#how-to-play {
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

#main {
  display: flex;
}

#start, #instructions {
  display: inline;
  margin: 10px;
  background-color: var(--feed-play-sleep-buttons);
  color: white;
  width: 100px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

#timer-age {
  display: inline;
  justify-content: flex-start;
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  background-color: #232f3e9a;
  width: 130px;
  border: 3px solid white;
}

#timer, #age {
  margin: 5px;
}

#tamagotchi {
  display: flex;
  flex-direction: row;
  position: relative;
  background: url("/images/forest.jpg");
  background-size: cover;
  width: 700px;
  height: 600px;
  align-items: flex-end;
  border-radius: 5px;
  border: 4px solid #232f3e;
}

#pikachu {
  position: absolute;
  left: 250px;
  bottom: 100px;
  padding-top: 10px;
  height: 150px;
  width: 100px;
}

#charizard {
  position: absolute;
  left: 340px;
  bottom: 150px;
}

.pikachuMove {
  animation-name: pikaMove;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#resetButton {
  position: absolute;
  border-radius: 3px;
  background-color: red;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 25px;
  left: 305px;
  top: 200px;
}

#feedme, #play, #sleep {
  width: 150px;
  height: 30px;
  margin-top: 2px;
  top: 25px;
  border-radius: 5px;
  color: white;
  background-color: var(--start-instructions-buttons);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 0px;
  outline: none;
}


.timer-meter {
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  bottom: 5px;
  flex-direction: row;
}

@keyframes pikaMove {
  from {
    left: 0px; 
  }

  25% {
    left: 100px;
    bottom: 60px;
  }

  50% {
    left: 300px;
    bottom: 150px;
  }

  75% {
    left: 400px;
    bottom: 100px;
  }

  to {
    left: 50px;
    bottom: 190px;
  }

}

@media(max-width: 600px) {

}