:root {
  --start-instructions-buttons: #146eb4;
  --feed-play-sleep-buttons: #ff9900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}


h2 {
  text-align: center;
}

#main {
  display: flex;
  
}

#start, #instructions {
  display: inline;
  margin: 10px;
}

#timer, #age {
  display: inline;
  justify-content: flex-start;
}

#tamagotchi {
  display: flex;
  flex-direction: row;
  position: relative;
  background: url("/images/forest.jpg");
  background-size: cover;
  width: 700px;
  height: 600px;
  align-items: flex-end;
  border-radius: 5px;
  border: 3px solid #232f3e;
}

#pikachu {
  position: absolute;
  bottom: 100px;
  padding-top: 10px;
  height: 150px;
  width: 100px;
}

.pikachuMove {
  animation-name: pikaMove;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#feedme, #play, #sleep {
  position: relative;
  width: 150px;
  height: 30px;
  margin: 30px;
  top: 25px;
  border-radius: 5px;
  color: white;
  background-color: var(--start-instructions-buttons);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  
  
}

@keyframes pikaMove {
  from {
    left: 0px; 
  }

  25% {
    left: 100px;
    bottom: 20px;
  }

  50% {
    left: 300px;
    bottom: 150px;
  }

  75% {
    left: 400px;
    bottom: 100px;
  }

  to {
    left: 50px;
    bottom: 190px;
  }

}